blockquote {
    border-left: 3px solid #22a2c4;
}
.entry-meta .tag-links a:hover, .entry-meta .tag-links a:focus {
    background-color: #22a2c4;
    border: 1px solid #22a2c4;
}

.entry-content a:hover {
    color: #22a2c4;
}

.title span {
    color: #22a2c4;
}

a:hover {color: #22a2c4;}
.entry-meta a:hover {color: #22a2c4;}

input[type="submit"] {
    background: #22a2c4;
}

.btn-default { 
    background: #22a2c4; 
    border: 1px solid #22a2c4; 
}

.btn-light {
    border: 1px solid #22a2c4; 
}

.btn-light:hover, .btn-light:focus {
    background: #22a2c4;
    border: 1px solid #22a2c4; 
}

.btn-default-dark { 
    background: #22a2c4; 
}

.head-contact-info li a:hover, .head-contact-info li a:focus { color: #22a2c4; }

.custom-social-icons li > a:focus {
    color:#22a2c4;
}

.contact .custom-social-icons li > a:hover, .contact .custom-social-icons li > a:focus {
    background-color: #22a2c4;
}

.custom-social-icons li > a:hover, .custom-social-icons li > a:focus {
    color:#22a2c4;
}

.navbar  .search-box-outer .dropdown-menu {
    border-top: solid 1px #22a2c4;
}

.search-form input[type="submit"] {
    background: #22a2c4 none repeat scroll 0 0;
    border: 1px solid #22a2c4;
}

.owl-carousel .owl-prev:hover, 
.owl-carousel .owl-prev:focus { 
    background-color: #22a2c4;
}
.owl-carousel .owl-next:hover, 
.owl-carousel .owl-next:focus { 
    background-color: #22a2c4;
}

.cta_content, .cta_main {background-color: #22a2c4; }

.cta_content .btn-light {
    color: #22a2c4;
}

.cta_content .btn-light:hover {
    background: #22a2c4;
}

.cta_content a:after {
    color: #22a2c4; 
}

.services .post:hover {
    background-color: #22a2c4;
}

.services .post-thumbnail i.fa {
    background-color: #22a2c4;
}

.services .post:hover .post-thumbnail i.fa{
    color: #22a2c4;
}

.testimonial .rating {
    color: #22a2c4;
}

.funfact {
    background-color: #22a2c4; 
}

.funfact-inner:hover .funfact-icon {
    color: #22a2c4;
}

.entry-date {
    background: #22a2c4;
}

.remove-image{
    background: #22a2c4;
}

.entry-content p a:hover{color: #22a2c4;}

.blog a:hover i 
/*.blog a:hover span*/
{color: #22a2c4;}

.pagination .page-link.active, .woocommerce .woocommerce-pagination li .page-numbers.current{
    color: #22a2c4;
}

.pagination .page-link:active{
    background-color: #22a2c4;
    border-color: #22a2c4;
}

.sidebar .custom-social-icons li > a {color: #22a2c4;}

.sidebar .custom-social-icons li > a:hover{
    background-color: #22a2c4;
}

.widget .widget-title {
    color: #22a2c4;
}

.widget .search-submit , .widget .search-field [type=submit] {
    color: #22a2c4;
}

.widget .tagcloud a:hover{
    background-color: #22a2c4; 
}

.team .list-inline-item a{
    color: #22a2c4;
}

.team .list-inline-item a:hover,.list-inline-item a:focus {
    background-color: #22a2c4 ;
}

.woocommerce ul.products li.product .onsale, .products span.onsale, .woocommerce span.onsale{
    background: #22a2c4;
}

.cart-header > a .cart-total {
    background: #22a2c4;
}

.add-to-cart a {
    color: #22a2c4;
}

.add-to-cart a:hover { 
    background: #22a2c4;
}

.contact-icon i {
    color:#22a2c4;
}

.page-breadcrumb li {
    color:#22a2c4; 
}

.page-breadcrumb li a:hover{
    color:#22a2c4;
}

.about-subtitle{
    color:#22a2c4;
}

.about-header .btn-default:hover,.about-header  .btn-default:focus {
    border: 1px solid #22a2c4;
}

.img-decorate{
    background: #22a2c4;
}

.contact-detail-area i {
    color: #22a2c4;
}

.wpcf7-form-control-wrap:after,
.contact1 .wpcf7-form-control-wrap:after,
.contact3 .wpcf7-form-control-wrap:after {
    color: #22a2c4;
}

.md-pills .nav-link.active {
    background-color: #22a2c4;
}

.portfolio .tab-content .portfolio-thumbnail .entry-title a {
    color: #22a2c4;
} 

.portfolio .tab-content .portfolio-thumbnail i {
    color: #22a2c4;
    border: 1px solid #22a2c4;
}

.error-page .custom-social-icons li > a:hover,.error-page .custom-social-icons li > a:focus {
    background-color:#22a2c4;
}

.footer-sidebar .woocommerce ul.product_list_widget li a:hover {
    color: #22a2c4;
}

.footer-sidebar a:hover{color:#22a2c4;}

.scroll-up a {
        background: #22a2c4;
}

.related-post .single-post .fa {
    color: #22a2c4;
}

.related-post .single-post a:hover .fa{
    background:#22a2c4; 
}

.comment-form .comment-reply-title{
    color: #22a2c4;
}

.comment-form .blog-form-group:after {
    color: #22a2c4;
}

.comment-form .blog-form-group-textarea:after {
    color: #22a2c4;
}

.services2 .post::before {
    background-color: #22a2c4;
}

.services2 .post-thumbnail i.fa {
    color: #22a2c4;  
}

.services3 .post-thumbnail i.fa {
    background: #22a2c4;
}

.services3 .post-thumbnail i.fa {
    box-shadow: #22a2c4 0px 0px 0px 2px;
}

.services3 .post:hover .post-thumbnail i.fa {
    color: #22a2c4; 
}

.services3 .post-thumbnail img {
    box-shadow: #22a2c4 0px 0px 0px 2px;
}

.services3 .post:hover .post-thumbnail img {
    color: #22a2c4; 
}

#testimonial-carousel2 .testmonial-block,.page-template-template-testimonial-6 .testmonial-block {
    border-left: 4px solid #22a2c4;
}

#testimonial-carousel2 .testmonial-block:before,.page-template-template-testimonial-6 .testmonial-block:before {
        border-top: 25px solid #22a2c4;
}

.team2 .team-grid .card-body .list-inline li > a:hover {
    color: #22a2c4;
}

.team3 .team-grid .card-body .list-inline li > a:hover {
    color: #22a2c4;
}

.services4 .post-thumbnail i.fa {
    color: #22a2c4;  
} 

.team4 .team-grid .list-inline li > a:hover {
    color: #22a2c4;
}

.site-info span a:hover {color: #22a2c4;}

.site-info .site-privacy a:hover{
    color:#22a2c4;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #22a2c4;
    box-shadow: #22a2c4 0px 0px 0px 2px;
}

#searchbar_fullscreen .btn {
    background-color: #22a2c4;
}

.page-breadcrumb a:hover{
    color: #22a2c4;
}

/*jquery.smarmenu.bootstrap-4 css*/
.navbar .nav .nav-item:hover .nav-link, 
.navbar .nav .nav-item.active .nav-link {
    color: #22a2c4;
}
.dropdown-item .current-menu-item.active, .dropdown-item:active,.dropdown-item:hover,
a.text-dark:focus, a.text-dark:hover,
a.bg-light:focus, a.bg-light:hover {
    color:#22a2c4 !important;
}
.navbar-nav a.bg-light:focus, 
.navbar-nav a.bg-light:hover, 
.navbar-nav button.bg-light:focus, 
.navbar-nav button.bg-light:hover {
    color:#22a2c4 !important;
}
.bg-light{color:#22a2c4 !important;}

.footer-sidebar .widget .widget-title:after {
    background: #22a2c4;
}

.navbar ul li a .menu-text:hover:after,.navbar .nav li.active .nav-link .menu-text:after,.navbar-nav .show .dropdown-menu > .active > .menu-text:after , .navbar-nav .show .dropdown-menu > .active > .menu-text:focus {
    background: #22a2c4;
}
/*jquery.smarmenu.bootstrap-4 css*/

.breadcrumb_last{
    color: #22a2c4;
}

.entry-meta a:hover span {
    color:#22a2c4;
}

.entry-meta i {
    color: #22a2c4;
}

.nav-links .page-numbers.current {
    color: #22a2c4
}

.page-numbers {
    color: #22a2c4;
}

.gallery-item > div > a:focus {
    box-shadow: 0 0 0 2px #22a2c4;
}

.woocommerce ul.products li.product .button, .owl-item .item .cart .add_to_cart_button {
    background-color: #22a2c4;
}

.woocommerce p.stars a {
    color: #22a2c4;
}

.woocommerce div.product form.cart .button, .woocommerce a.button, .woocommerce a.button:hover, .woocommerce a.button, .woocommerce .woocommerce-Button, .woocommerce .cart input.button, .woocommerce input.button.alt, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce .cart input.button:hover, .woocommerce .cart input.button:focus, .woocommerce input.button.alt:hover, .woocommerce input.button.alt:focus, .woocommerce input.button:hover, .woocommerce input.button:focus, .woocommerce button.button:hover, .woocommerce button.button:focus, .woocommerce #respond input#submit:hover, .woocommerce #respond input#submit:focus, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce button.button.alt  {
        background: #22a2c4;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,.woocommerce a.button,.woocommerce a.button:hover  {
        background-color: #22a2c4;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    border-top-color: #22a2c4;
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    color: #22a2c4;
}

.woocommerce div.product form.cart .button {
    background-color: #22a2c4;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #22a2c4;
    border-bottom-color: #22a2c4;
}
button, input[type="button"], input[type="submit"] {
    background-color: #22a2c4;
}
.team4 .list-inline  > a:hover {
    color: #22a2c4;
}
.taxonomy-list a:hover {
    color: #22a2c4;
}
.blog.home-blog .entry-header .entry-title a:hover{
    color: #22a2c4;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #22a2c4;
}
.spice-software-preloader-cube .spice-software-cube:before {background: #22A2C4;}
#preloader2 .square{background: #22A2C4;}
.navbar.navbar3 .nav .nav-item:hover .nav-link, .navbar.navbar3 .nav .nav-item.active .nav-link {
    color: #22A2C4;
}
/*update*/
.spice_software_header_btn {background-color: #22A2C4;}
.eight .spice_software_header_btn:hover {background-color: #22A2C4;} 
.index2 .search-box-outer .dropdown-menu {
    border-top: solid 1px #22a2c4;
}
.navbar4 .header-lt::before,.navbar4 .header-lt::after {
   background-color: #22a2c4;
  }
.dark .header-sidebar {
background: #22a2c4;
}
.widget .search-submit , .widget .search-field [type=submit] {
  color: #22a2c4;
  }
  .navbar1.navbar .nav .nav-item:hover .nav-link, .navbar1.navbar .nav .nav-item.active .nav-link {
   background: #22a2c4;
}
.nav-item.radix-html a:hover {
    color: #22a2c4;
}
.pagination .page-link:hover, .nav-links .page-numbers:hover{
    color:#22a2c4; ;
}
@media (max-width: 768px) {
    .navbar4 .header-lt {
        background: #22a2c4;
        padding: 15px;
    }
} 
.dark .pagination .page-link,.nav-links .page-numbers,.dark .comment-section a:hover {
    color: #22a2c4;
   
}
.dark .sidebar ul li a:hover {
    color: #22a2c4;
}
.navbar .nav .nav-item:hover .nav-link, .navbar .nav .nav-item.active .nav-link, .dropdown-menu > li.active > a, .navbar .nav .nav-item.current_page_parent .nav-link{
    color: #22a2c4;
}

/*New widget css*/
.sidebar .wp-block-search .wp-block-search__label,.sidebar .widget.widget_block h1,.sidebar .widget.widget_block h2,.sidebar .widget.widget_block h3,.sidebar .widget.widget_block h4,.sidebar .widget.widget_block h5,.sidebar .widget.widget_block h6{
    color:#22a2c4;
}
.widget .wp-block-search__button {color: #22a2c4;}
 .widget .wp-block-tag-cloud a:hover {
    background-color: #22a2c4;
    color:#fff;
}
.footer-sidebar .wp-block-search .wp-block-search__label,.footer-sidebar .widget.widget_block h1,.footer-sidebar .widget.widget_block h2,.footer-sidebar .widget.widget_block h3,.footer-sidebar .widget.widget_block h4,.footer-sidebar .widget.widget_block h5,.footer-sidebar .widget.widget_block h6{   
     color: #22a2c4; }
.footer-sidebar .wp-block-search__label:after,.footer-sidebar .widget_block h1:after,
.footer-sidebar .widget_block h2:after,.footer-sidebar .widget_block h3:after,.footer-sidebar .widget_block h4:after,.footer-sidebar .widget_block h5:after,
.footer-sidebar .widget_block h6:after{
     background: #22a2c4;
}     
.wp-block-search__button:after{
   color:#22a2c4;
}
.index2 .search-box-outer .dropdown-menu {
    border-top: solid 1px #22a2c4;
    }
.blog .entry-title a.blog-title:hover {
    color: #22a2c4;
}
.about-section a:hover,.services a:hover{
    color: #22a2c4;
}
.pagination .page-link{
    color: #22a2c4;
}
.sidebar .widget .wp-block-tag-cloud a:hover {
    background-color: #22a2c4;
    color: #fff;
}
.dark .add-to-cart a {
    color: #22a2c4;
}
/*css for breadcrumb */

nav.rank-math-breadcrumb span {
    color: #22a2c4;
}
nav.rank-math-breadcrumb a:hover {
    color: #22a2c4;
}
.page-breadcrumb.text-center span.post-page.current-item, .page-breadcrumb.text-center span.post-post.current-item {
    color: #22a2c4;
}